<div class="container-fluid">
    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">
            <h1 class="create-title">Instructor View</h1>
                <%= link_to "Back", root_path, class: "btn btn-primary"  %>
            </a>
        </div>
    </nav>
    <%= form_with model: @presentation do |f| %>
        <div class="mb-3">
            <%= f.label 'Grade', :class=>"form-label" %>
            <%= f.select(:grade, options_for_select([['A', 'A'], ['B', 'B'], ['C', 'C'], ['D', 'D'], ['F', 'F']]), :class=>"form-select") %>
        </div>
            <div class="mb-3">
                <%= f.submit :class=>"btn btn-primary" %>
            </div>
        </div>
    <% end %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <ul class="list-group list-group-flush">
            <li class="list-group-item"> Presentation Name: <%= @presentation.presentation_name %></li>
            <li class="list-group-item"> Student Name: <%= @presentation.student_name %></li>
            <li class="list-group-item"> Date: <%= @presentation.date %></li>
            <li class="list-group-item"> Grade: <%= @presentation.grade %></li>
            </ul>
        </div>
    </div>
    <div>
    <br/>
        <% @feedbacks.each do |feedback| %>
            <% if feedback.presentation_id == @presentation.id %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> Score: <%= feedback.score %></li>
                            <li class="list-group-item"> Feedback:  <%= feedback.comments %></li>
                        </ul>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

